<html>
<head>
  <title>Remember Prayers</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./static/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./static/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="./" class="navbar-brand">Remember Prayers</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li><a href="./ranking">Ranking</a></li>
        <li><a href="./submit">Upload</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if session.id %}
          <li><a href="./mypage">My Page</a></li>
          <li><a href="./logout">Logout</a></li>
        {% else %}
          <li><a href="./login">Login</a></li>
        {% endif %}
      </ul>

    </div>
  </div>
</div>

{% block content %}{% endblock %}

<script type="text/javascript" src="./static/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="./static/bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="./static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./static/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
$(function () {
  $('#datetimepicker1').datetimepicker({
    format: 'YYYY/MM/DD'
  });
});
</script>
</body>
</html>
